force-app/main/default/flows/CreateQuizWithQuestions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>assignQuestion</name>
        <label>assignQuestion</label>
        <locationX>320</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>NewQuestion.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.Quiz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuiz.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateQuestionRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuestion_0</name>
        <label>assignQuestion</label>
        <locationX>438</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>NewQuestion.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_1_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_1_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_1_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_2_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_3_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_4_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.Quiz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuiz.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateQuestionRecord_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuestion_0_0</name>
        <label>assignQuestion</label>
        <locationX>567</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>NewQuestion.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_1_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_1_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_1_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_2_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_3_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_4_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.Quiz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuiz.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateQuestionRecord_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuestion_0_0_0</name>
        <label>assignQuestion</label>
        <locationX>759</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>NewQuestion.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_1_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Answer_1_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_1_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_2_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_3_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.D__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Choice_4_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQuestion.Quiz__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuiz.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateQuestionRecord_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignQuiz</name>
        <label>assignQuiz</label>
        <locationX>86</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>newQuiz.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quiz_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuiz.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quizCategory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateQuizRecord</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>loopNumber</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>AnswerList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Answer__c</picklistField>
        <picklistObject>Question__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Quiz__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CreateQuizWithQuestions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateQuizWithQuestions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateQuestionRecord</name>
        <label>CreateQuestionRecord</label>
        <locationX>248</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Questions_2</targetReference>
        </connector>
        <inputReference>NewQuestion</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateQuestionRecord_0</name>
        <label>CreateQuestionRecord</label>
        <locationX>396</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Questions_1_3</targetReference>
        </connector>
        <inputReference>NewQuestion</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateQuestionRecord_0_0</name>
        <label>CreateQuestionRecord</label>
        <locationX>574</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Questions_1_4</targetReference>
        </connector>
        <inputReference>NewQuestion</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateQuestionRecord_0_0_0</name>
        <label>CreateQuestionRecord</label>
        <locationX>752</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <inputReference>NewQuestion</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateQuizRecord</name>
        <label>CreateQuizRecord</label>
        <locationX>56</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>getQuiz</targetReference>
        </connector>
        <inputReference>newQuiz</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getQuiz</name>
        <label>getQuiz</label>
        <locationX>114</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Questions_1</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quiz_Name</elementReference>
            </value>
        </filters>
        <object>Quiz__c</object>
        <outputReference>newQuiz</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>CreateQuiz</name>
        <label>CreateQuiz</label>
        <locationX>170</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignQuiz</targetReference>
        </connector>
        <fields>
            <name>Quiz_Name</name>
            <dataType>String</dataType>
            <fieldText>Quiz Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>quizCategory</name>
            <choiceReferences>category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Category</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>900</locationX>
        <locationY>70</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p&gt;Quiz: {!Quiz_Name}, has been created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Questions_1</name>
        <label>Questions 1</label>
        <locationX>282</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignQuestion</targetReference>
        </connector>
        <fields>
            <name>Question_1</name>
            <dataType>String</dataType>
            <fieldText>Question</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choice_1</name>
            <dataType>String</dataType>
            <fieldText>Choice A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Choice_2</name>
            <dataType>String</dataType>
            <fieldText>Choice B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Choice_3</name>
            <dataType>String</dataType>
            <fieldText>Choice C</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Choice_4</name>
            <dataType>String</dataType>
            <fieldText>Choice D</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Answer_1</name>
            <choiceReferences>AnswerList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Questions_1_3</name>
        <label>Questions 3</label>
        <locationX>556</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignQuestion_0_0</targetReference>
        </connector>
        <fields>
            <name>Question_1_3</name>
            <dataType>String</dataType>
            <fieldText>Question</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choice_1_3</name>
            <dataType>String</dataType>
            <fieldText>Choice A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choice_2_3</name>
            <dataType>String</dataType>
            <fieldText>Choice B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choice_3_3</name>
            <dataType>String</dataType>
            <fieldText>Choice C</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choice_4_3</name>
            <dataType>String</dataType>
            <fieldText>Choice D</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Answer_1_3</name>
            <choiceReferences>AnswerList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Questions_1_4</name>
        <label>Questions 4</label>
        <locationX>759</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignQuestion_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Question_1_4</name>
            <dataType>String</dataType>
            <fieldText>Question</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choice_1_4</name>
            <dataType>String</dataType>
            <fieldText>Choice A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Choice_2_4</name>
            <dataType>String</dataType>
            <fieldText>Choice B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Choice_3_4</name>
            <dataType>String</dataType>
            <fieldText>Choice C</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Choice_4_4</name>
            <dataType>String</dataType>
            <fieldText>Choice D</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Answer_1_4</name>
            <choiceReferences>AnswerList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Questions_2</name>
        <label>Questions 2</label>
        <locationX>403</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignQuestion_0</targetReference>
        </connector>
        <fields>
            <name>Question_1_2</name>
            <dataType>String</dataType>
            <fieldText>Question</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choice_1_2</name>
            <dataType>String</dataType>
            <fieldText>Choice A</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choice_2_2</name>
            <dataType>String</dataType>
            <fieldText>Choice B</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choice_3_2</name>
            <dataType>String</dataType>
            <fieldText>Choice C</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choice_4_2</name>
            <dataType>String</dataType>
            <fieldText>Choice D</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Answer_1_2</name>
            <choiceReferences>AnswerList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>CreateQuiz</startElementReference>
    <status>Active</status>
    <variables>
        <name>loop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>loopnumber1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Question__c</objectType>
    </variables>
    <variables>
        <name>newQuiz</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quiz__c</objectType>
    </variables>
</Flow>
