force-app/main/default/flows/PlayerStatus.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignRecord</name>
        <label>AssignRecord</label>
        <locationX>161</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>player.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Player_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>player.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>player.Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChooseTeam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePlayerRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>userHasPlayer</name>
        <label>userHasPlayer</label>
        <locationX>531</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>loopPlayers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hasplayer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>player.User__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CurrentUser</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Player_Info</targetReference>
            </connector>
            <label>Hasplayer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choose</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Team__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChooseTeam</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Team__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>CreatePlayer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PlayerStatus</label>
    <loops>
        <name>loopPlayers</name>
        <label>loopPlayers</label>
        <locationX>368</locationX>
        <locationY>292</locationY>
        <assignNextValueToReference>player</assignNextValueToReference>
        <collectionReference>players</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>userHasPlayer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Player</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreatePlayerRecord</name>
        <label>CreatePlayerRecord</label>
        <locationX>269</locationX>
        <locationY>154</locationY>
        <inputReference>player</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getPlayers</name>
        <label>getPlayers</label>
        <locationX>193</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPlayers</targetReference>
        </connector>
        <object>Player__c</object>
        <outputReference>players</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <screens>
        <name>Create_Player</name>
        <label>Create Player</label>
        <locationX>377</locationX>
        <locationY>43</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignRecord</targetReference>
        </connector>
        <fields>
            <name>Player_Name</name>
            <dataType>String</dataType>
            <fieldText>Player Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Choose_A_Team</name>
            <choiceReferences>ChooseTeam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose A Team</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Player_Info</name>
        <label>Player Info</label>
        <locationX>494</locationX>
        <locationY>45</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fname</name>
            <fieldText>&lt;p&gt;Player Name: {!player.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Player is already created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getPlayers</startElementReference>
    <status>Active</status>
    <variables>
        <name>player</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>players</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Player__c</objectType>
    </variables>
    <variables>
        <name>TeamRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Team__c</objectType>
    </variables>
    <variables>
        <name>user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
